.sec2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40em;
    width: 100%;
    flex-wrap: wrap;
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    width: 500px;
    margin: 20px;
    padding: 30px;
    border: solid 1px rgba(216,216,216,0.5);
    border-radius: 4px;
    align-items: flex-start;
}
.login h3{
    margin-bottom: 10px;
}
.otp{
    display: flex;
    padding: 20px;
    align-content: center;
    justify-content: center;
    padding-left: 0;
}
input[type=email]{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 3px;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    padding: 20px;
}
input[type=text]{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 3px;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    padding: 20px;
}
input[type=password]{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 3px;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    padding: 20px;
}
textarea{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 3px;
    text-align: center;
    font-size: 20px;
    border: 2px solid black;
    font-family: 'Roboto Slab', serif;
}
.btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color:white;
    font-family: 'Roboto Slab', serif;
}


